/********************* RESETS **********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************* END RESETS **********************/

/********************* BEGIN MAIN CSS **********************/

@import url('https://fonts.googleapis.com/css?family=Orienta&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@font-face {
font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: normal;
src: local('Andale Mono'), url('assets/andale-mono-cufonfonts-webfont/ANDALEMO.woff') format('woff');
}

html, body {
	font-family: 'Roboto Mono', monospace;
  color: #ffffff;
	background-color: #1C2F40;
}

p {
	font-family: 'Roboto Mono', monospace;
}

a{
		font-family: 'Roboto Mono', monospace;
		color: inherit;
		text-decoration: none;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~INTRO~~~~~~~~~~~~~~~~~~~~~ */
/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
	background-color: #1C2F40;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  /*background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
	background-color: #1C2F40;
}

.home {
	position: flex;
	align:self;
	text-align: center;
	float: center;
	justify-content: center;
	vertical-align: middle;
	text-transform: uppercase;
	width: 100%;
	color: #EF572E;
	margin: 98vh 0;
	z-index: 100;
	position: absolute;
	display: block;
	background-color: #1C2F40;
}
.home p {
	text-align: center;
	float: center;
	justify-content: center;
	vertical-align: middle;
	text-transform: uppercase;
	width: 100%;
	color: #EF572E;
	margin: -49vh 0;
}
.stack {
	z-index: 0;
	position: relative;
	text-align: justify;
	float: center;
	justify-content: center;
	vertical-align: middle;
	text-transform: uppercase;
	display: block;
	max-height: 90vh;
	margin-top:-3vh;
	margin-bottom: -5vh;
}
.stack h1, #output {
	font-size: 53px;
	color: #ffffff;
	padding: 4vh 2vw;
	top: 0;
	bottom: 2vh;
	overflow: hidden;
	opacity: 1;
}
.center {
	text-align: center;
	float: center;
	vertical-align: middle;
	margin: auto;
	padding: 50vh auto;
}
.content {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}
.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em 1.5em 1.5em 1.25em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header demos'
	'... info'
	'github info';
	z-index: 98;
}
.header__title {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	/*padding: 0.5rem 0 0 0;*/
	transform: scale(1,-1);
	align-self: center;
	line-height: 2;
}

/* HJSDKJFKSDHFJDSKJFHKSJDHFKJSHDKFJSKDFJS */
nav {
	position: absolute;
	float: right;
	display: inline-block;
	margin: 2.5em 2.5em 1.5em 0;
	right: 3em;
	vertical-align: middle;
	align: center;
}
.header-right ul li {
	display: inline-block;
	float: right;
	text-align: right;
	color: #EF572E;
	text-transform: uppercase;
	font-size: 14px;
	align-self: center;
	line-height: 2;
}
.header-right ul li span a svg {
  opacity: 0;
	width: 18px;
  padding-right: 5px;
}
.header-right ul li span a:hover svg {
  opacity: 1;
	width: 18px;
  transition: ease-in 0.2s;
}
.header-right ul li span a:active svg {
  opacity: 1;
	width: 18px;
  transition: ease-in 0.2s;
}
.header {
	float: left;
	text-align: left;
	display: inline-block;
	max-width: 100vw;
	min-width: 95vw;
	padding: 1em 0 0 1.75em;
}
.header .english {
	font-size: 14px;
	color: #EF572E;
	text-transform: uppercase;
}
.header .code {
	font-size: 12px;
	color: #FFFFFF;
}

/* HJSDKJFKSDHFJDSKJFHKSJDHFKJSHDKFJSKDFJS */

.glitch-nav {
	position: absolute;
	justify-content: left;
	align-items: center;
	vertical-align: middle;
}

.glitch-nav__button {
	display: block;
	background: none;
	border: 0;
	margin: 0 1rem 0 0;
	padding: 0;
	text-transform: inherit;
	letter-spacing: inherit;
	font-weight: inherit;
	color: var(--color-link);
}

.glitch-nav__button span {
	display: block;
}

.glitch-nav__button:focus {
	outline: none;
}

.glitch-nav__button:hover span {
	animation: glitch-anim-text 0.5s linear alternate 1 backwards;
}
@keyframes glitch-anim-text {
	0%, 100% {
		transform: translate3d(2px, -2px, 0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	20% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	41% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	52% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	61% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	75% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	80% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	96% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~PAGE 2~~~~~~~~~~~~~~~~~~~~~ */
/*.header ul li {
	display: inline-block;
	padding: 0 10px 50px 10px;
	float: right;
	text-align: right;
	color: #EF572E;
	text-transform: uppercase;
	font-size: 14px;
}
.header ul {
	margin-right: 0;
}
ul li a svg {
	opacity: 0;
	width: 18px;
	padding-right: 5px;
}
ul li a:hover svg {
	opacity: 1;
	width: 18px;
  transition: ease-in 0.2s;
}
ul li a:active svg {
	opacity: 1;
	width: 18px;
  transition: ease-in 0.2s;
}*/
/*ul li a svg #second {
	visibility: visible;
	width: 18px;
	padding-right: 5px;
}*/
.superscript {
	position: absolute;
	width: 133px;
	height: 23px;
	left: 20px;
	margin-top: -1em;
	font-size: 10px;
	line-height: 100%;
	text-transform: uppercase;
	color: #FFFFFF;
}

.about {
	position: absolute;
	width: 420px;
	height: 437px;
	float: right;
	top: 5em;
	right: 2em;
	padding-top: 25px;
	font-family: 'Roboto Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 100%;
	/* or 24px */
	text-transform: uppercase;
	color: #EF572E;
	border-top: 0.25px solid white;
}

.hire-us {
	color: #EF572E;
	font-size: 24px;
	padding: 50px 20px 0 0;
	float: right;
	vertical-align:middle;
	align:center;
}
.about-meat {
	float: left;
	bottom: 2em;
	vertical-align: bottom;
	vertical-position: bottom;
	position: absolute;
	margin-top: 25em;
	padding: 20px;
	left: 1.75em;
}
.about-title {
	width: 801px;
	height: 225px;
	left: 71px;
	top: 371px;
	font-family: Andale Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 84px;
	line-height: 87.5%;
	/* or 73px */
	text-transform: uppercase;
	color: #EF572E;
}
.about-title-below {
	margin-left: .6em;
}
.about-title-below-left {
	padding-top: 15px;
	float: left;
	line-height: 24px;
}
.about-title-below-right {
	padding-top: 15px;
	float: left;
	padding-left: 50px;
	line-height: 24px;
}
.egg {
	text-transform: uppercase;
	margin: 7em 0 0 17.5em;
	top: 0;
	position: absolute;
	text-align: center;
	vertical-align: middle;
		align-self: center;
}
.egg div {
	position: absolute;
	z-index: 1;
	text-align: center;
	vertical-align: middle;
		align-self: center;
}
.egg p {
	display: block;
	position: absolute;
	text-align: center;
	align-self: center;
	vertical-align: middle;
	font-size: 10px;
	margin: 3.5em;
	color: #EF572E;
	z-index: 2;
}
circle {
	fill: none;
	stroke-width: 1.5px;
}

/*.page, .page a {
 cursor: none;
}*/

.cursor {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
}
.cursor--small {
	width: 5px;
	height: 5px;
	left: -2.5px;
	top: -2.5px;
	border-radius: 50%;
	z-index: 11000;
	background: var(--color-text);
}
.cursor--canvas {
	width: 100vw;
	height: 100vh;
	z-index: 12000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#header{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 63px;
	background: black; filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
	z-index: 2;
}

#header ul{
	float: right;
	height: 63px;
}

#header ul li{
	float: left;
}

.content-frame{
	/*padding-top: 63px;*/
	}

.slide:hover{
	cursor: pointer;}


.first{
	background: #1C2F40;
	overflow: hidden;
	margin: 0 0;
	padding: 0;
}

/*.first .content-frame .content{
	width: 397px;
	height: 470px;
	background: url(../images/slide-1.png) top left no-repeat;
	margin: auto;
	}*/


.second{
	background: #1C2F40;
}

/*.second .content-frame .content{
	width: 334px;
	height: 526px;
	background: url(../images/slide-2.png) top left no-repeat;
	margin: auto;
	}*/


/*.third{
	background: #e57e71;}

.third .content-frame .content{
	width: 504px;
	height: 490px;
	background: url(../images/slide-3.png) top left no-repeat;
	margin: auto;
	}


.fourth{
	background: #fff;}

.fourth .content-frame .content{
	width: 414px;
	height: 510px;
	background: url(../images/slide-4.png) top left no-repeat;
	margin: auto;
	}


.fifth{
	background: #24261f;
	padding-top: 63px;
	}

.content-frame-fifth{
	background: url(../images/slide-5.png) center center no-repeat;
	background-size: 100%;
	}

.sixth{
	background: #24261f;}

.sixth .content-frame .content{
	width: 458px;
	height: 420px;
	background: url(../images/slide-6.png) top left no-repeat;
	margin: auto;
	}


.seventh{
	background: #81cec5;}

.seventh .content-frame .content{
	width: 360px;
	height: 562px;
	background: url(../images/slide-7.png) top left no-repeat;
	margin: auto;
	}


.eigth{
	background: #84b1d5;}

.eigth .content-frame .content{
	width: 345px;
	height: 550px;
	background: url(../images/slide-8.png) top left no-repeat;
	margin: auto;
	}


.ninth{
	background: #e57e71;
	overflow: hidden;
	}

.ninth .content-frame .content{
	width: 418px;
	height: 600px;
	text-align: center;
	margin: auto;
	}

.tenth{
	background: #24261f;
	}
.tenth:hover{
	cursor: default;}

.tenth .content-frame .content{
	width: 580px;
	height: 620px;
	margin: auto;
	}

.eleventh{
	background: #24261f;
	}
.eleventh:hover{
	cursor: default;
	}

.eleventh .content-frame .content{
	width: 580px;
	height: 350px;
	margin: auto;
	}*/
